/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*====================================*/

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 30px auto;
    text-align: center;
    
    background-color: rgba(247, 247, 247, 0.947);
    
}
h1 {
    font-size: 30px;
    font-weight: 500;
}
hr {
    margin: 50px auto;
    width: 400px;
    background-color: rgba(230, 230, 230, 0.783);
}
.title {
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}
.box1 {
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: rgba(102, 242, 135, 0.886);
    margin: 50px;
    padding: 20px;
    border: 15px solid rgb(53, 202, 218);
    outline: 5px solid #000;
    box-shadow: 0 0 0 25px rgb(227, 138, 138);
    box-sizing: border-box;


}

.content {
    display: inline-block;
    margin-right: 15px;
    font-size: 0px;
}  
#content-circle, #padding-circle, #border-circle, #margin-circle{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(102, 149, 215, 0.886);
    vertical-align: middle;
    
}
#padding-circle {
    background-color: rgba(36, 227, 128, 0.886);
}
#border-circle {
    background-color: rgba(0, 0, 0, 0.742);
}
#margin-circle{
    background-color: rgba(232, 186, 125, 0.838);
}
p {  margin-left: 6px;
    vertical-align: middle;
    font-size: 16px;
    display: inline;  
}
.outer-box {
   
    margin: auto;
    margin-top: 50px;
    width: 600px;
    text-align: left;
    border: 1px solid rgb(174, 174, 174);
    font-size: 0px;
}

.box {
    display: inline-block;
    margin: 10px;
    height: 100px;
    width: 180px;
    background-color: rgb(191, 191, 191);

}
.differentlines {
    
    border: 1px solid black;
}

.sameline {
    border: 1px solid #000;
    box-sizing: border-box;
} 
main {
    margin-bottom: 100px;
}